<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <h1>About Us</h1>
    <hr>
        <p>
            Welcome to The RAM Ranch, your ultimate destination for high-performance computers and top-quality parts.
            Whether you’re building a custom rig, upgrading your setup, or just need expert advice, we’ve got you covered.
            Our dedicated team is here to guide you through every step of the process, offering personalized recommendations and
            the latest tech to meet your unique needs. From powerful gaming systems to professional workstations, we supply only the best in components to ensure your system runs at peak performance.
            At The RAM Ranch, we’re not just about selling products—we’re about empowering you to create the perfect computer for your work, play, and everything in between.

        </p>

    <a href="http://localhost:8080/" >  Link to Main Screen</a>
</div>
</body>
</html>